### Maven build ###
target/
*/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

### Logs & runtime ###
*.log
*.out
*.err
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### OS files ###
.DS_Store
Thumbs.db

### Docker ###
*.tar
*.pid
.env
docker-compose.override.yml

### Application configs ###
# Ignore local overrides, but keep committed defaults
application-*.yml
application-*.yaml
application-*.properties

# Allow default application.properties/yml to be tracked
!src/main/resources/application.properties
!src/main/resources/application.yml

### Misc ###
HELP.md
cdk.out/
